@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #500087; /* Cor de fundo roxo escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif; /* Fonte Montserrat */
}

#gameContainer {
    text-align: center; /* Centraliza o conteúdo do contêiner */
}

#gameCanvas {
    display: block;
    background-color: #500087; /* Cor de fundo do canvas */
    border: 3px solid #282828; /* Borda do canvas */
    border-radius: 10px; /* Bordas arredondadas */
    width: 300px; /* Largura do canvas */
    height: 300px; /* Altura do canvas */
}

#scoreBoard {
    color: #FFFCE7; /* Cor do texto do placar */
    font-size: 14px;
    font-weight: bold; /* Texto em negrito */
    text-align: left; /* Placar alinhado à esquerda */
    margin-top: 15px; /* Espaçamento entre o canvas e o placar */
    margin-bottom: 10px; /* Espaçamento abaixo do placar */
    margin-left: 15px; /* Espaçamento da esquerda */
    margin-right: 15px; /* Espaçamento da direita */
}

#scoreBoard div {
    margin: 0; /* Remove a margem adicional dos itens individuais */
}
