@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #500087; /* Cor de fundo roxo escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif; /* Fonte Montserrat */
}

#gameContainer {
    text-align: center; /* Centraliza o conteúdo do contêiner */
    margin-top: -15%;
}

#gameCanvas {
    display: block;
    background-color: #500087; /* Cor de fundo do canvas */
    border: 5px solid #282828; /* Borda do canvas */
    border-radius: 10px; /* Bordas arredondadas */
    width: 300px; /* Largura do canvas */
    height: 300px; /* Altura do canvas */
}

#scoreBoard {
    color: #FFFCE7; /* Cor do texto do placar */
    font-size: 14px;
    font-weight: bold; /* Texto em negrito */
    text-align: left; /* Placar alinhado à esquerda */
    margin-top: 15px; /* Espaçamento entre o canvas e o placar */
    margin-bottom: 10px; /* Espaçamento abaixo do placar */
    margin-left: 15px; /* Espaçamento da esquerda */
    margin-right: 15px; /* Espaçamento da direita */
}

#scoreBoard div {
    margin: 0; /* Remove a margem adicional dos itens individuais */
}

/* Estilos do overlay */
#gameOverOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    border-radius: 10px;
    padding: 20px;
    color: #FFFCE7; /* Cor do texto */
    text-align: center;
    z-index: 1000; /* Coloca o overlay acima de outros elementos */
}

#gameOverOverlay button {
    background-color: #500087;
    color: #FFFCE7;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    touch-action: none; /* Para evitar que o toque afete o canvas */
  }

/* Oculta todos os botões por padrão */
button {
    display: none;
}

/* Exibe os botões em dispositivos móveis */
@media only screen and (max-width: 768px) {
    button {
        display: none; /* Exibe os botões em dispositivos móveis */
        background-color: rgba(120, 0, 203, 0.8); /* Fundo roxo com transparência */
        color: #FFFFFF; /* Texto branco */
        border: none; /* Remove borda padrão do botão */
        border-radius: 5px; /* Borda arredondada */
        font-size: 24px; /* Tamanho da fonte */
        width: 50px; /* Largura dos botões */
        height: 50px; /* Altura dos botões */
        display: flex; /* Centraliza o texto dentro do botão */
        align-items: center; /* Alinhamento vertical do texto */
        justify-content: center; /* Alinhamento horizontal do texto */
        font-family: 'Montserrat', sans-serif; /* Fonte */
        margin: 5px; /* Margem entre os botões */
    }

    button:active {
        background-color: rgba(120, 0, 203, 1); /* Fundo roxo sólido ao clicar */
    }

    /* Estilize o contêiner dos controles */
    #controls {
        border: transparent;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px; /* Ajusta o espaçamento ao redor dos controles */
        box-sizing: border-box;
        z-index: 1000; /* Certifique-se de que os controles estão acima do conteúdo do jogo */
    }

    /* Botões de controle direcional com formato de cruz */
    #control-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Botão de cima */
    #btn-up {
        margin-bottom: 5px; /* Espaçamento abaixo do botão de cima */
    }

    /* Contêiner horizontal para os botões esquerdo e direito */
    #horizontal-controls {
        display: flex;
        justify-content: center;
        margin: 7px 0; /* Espaçamento entre o grupo horizontal e os botões de cima e baixo */
    }

    /* Botões de controle horizontal */
    #horizontal-controls button {
        margin: 0 18px; /* Aumenta o espaçamento horizontal entre os botões */
    }

    /* Botão de baixo */
    #btn-down {
        margin-top: 5px; /* Espaçamento acima do botão de baixo */
    }
}
